<script type="text/ng-template" id="customTemplate.html">
    <a ng-if="match.model.isGroup&&!match.model.id">
          <span>{{match.model.name| uppercase}}</span>
    </a>
    <a ng-if="!match.model.isGroup">
            <span ng-class="{ttab: match.model.id}" 
                  bind-html-unsafe="match.label | typeaheadHighlight:query">
            </span>
    </a>
</script>
<li class="has-form" style="width:400px;">
    <div class="row collapse">
          <div class="small-10 columns">
                <input type="text"
                      class="form-control searchbox"
                      data-ng-model="vm.selected"
                      data-typeahead="item as item.name for item in vm.getItemList({q: $viewValue, system: vm.currentSystem.code})"
                      data-typeahead-on-select="vm.onSelectChange(vm.selected)"
                      data-typeahead-wait-ms="vm.typeaheadWaitTime"
                      typeahead-min-length="3"
                      placeholder="{{vm.placeholder}}"
                      typeahead-template-url="customTemplate.html">
                <i ng-show="vm.loadingLocations" class="glyphicon glyphicon-refresh"></i>
          </div>
    </div>
</li>