<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script> 

<div class="fixed">
    <nav class="top-bar itemtext" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#"><b>Rom<span style="color:#0099FF;"><i>Sync</i></span><span style="color:#FF5500;">2</span></b></a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li class="has-form" style="width:400px;">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input type="text" class="form-control searchbox" 
                                ng-model="vm.searchQuery" 
                                placeholder="{{vm.placeholder}}"
                                typeahead="item as item.name for item in vm.onSearchTypeAhead($viewValue)"
                                typeahead-wait-ms="vm.waitTime" 
                                typeahead-min-length="vm.minLength"
                                typeahead-on-select="vm.onSelectChange(vm.selected)"
                                typeahead-template-url="customTemplate.html" 
                            />
                            <i ng-show="vm.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="right">
                <li class="has-dropdown not-click">
                    <a><i class="fi-thumbnails"></i>&nbsp<b>{{vm.selected.platform}}</b></a>
                    <ul class="dropdown">
                        <li ng-repeat="system in vm.platforms">
                            <a ng-click="vm.onSelectPlatform(system)">{{system}}</a>
                        </li>
                    </ul>            
                </li>
            </ul>
        </section>
    </nav>
</div>